<h1>Hamburg!</h1>

<h2>Eat a burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless hungry}}
      {{> burgers/burger-block hungry=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if hungry}}
      {{> burgers/burger-block hungry=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="hungr">Hungry?</label><br>
    <input type="radio" name="hungry" value="1" checked> Hungry!<br>
    <input type="radio" name="hungry" value="0"> Full
  </div>

  <button type="submit">Add Burger</button>
</form>